appdirs==1.4.4
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
commonmark==0.9.1
distlib==0.3.1
filelock==3.0.12
Flask==1.1.2
gunicorn==20.1.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
MarkupSafe==1.1.1
mutagen==1.45.1
numpy==1.20.2
panda==0.3.1
pandas==1.2.3
Pygments==2.7.4
python-dateutil==2.8.1
pytube==10.4.1
pytz==2021.1
rapidfuzz==0.14.2
requests==2.25.1
rich==9.8.2
scikit-learn==0.24.1
scipy==1.6.2
six==1.15.0
sklearn==0.0
spotdl==3.3.1
spotipy==2.16.1
threadpoolctl==2.1.0
tqdm==4.56.0
typing-extensions==3.7.4.3
urllib3==1.26.4
virtualenv==20.4.3
Werkzeug==1.0.1
ytmusicapi==0.13.1
